extends ../pug/layout.pug

block variables
  - const mainPage = false
  - const image = {path: '', image: 'test-image', format: 'jpg', width: 581, height: 624, altText: 'test image'}
  - const icon = {name: 'icon-close', width: 80, height: 80}
  - const pageLang = 'ru';

block main
  section.section.container
    h2 main page
    p main
    //- examples
    +img(image)
    +picture(image)
    +icon(icon)
